:root {
    --main-bg-color: #F6F6F6;
    --primary-color: #9356DC;
    --bg-color-green: #99e2d0;
    --bg-color-blue: #89c8fa;
    --bg-color-dark-grey: #353535;
    --bg-color-grey-2: #Eaeaea;
    --bg-color--dark-blue: #003a68;
    --green-font: #008766;
  }
  