
.conteneur {
    background-color: white;
    height: 440px;
}

.tuto {

    display: flex;
    flex-direction: column;

}

.titre {
    margin-left: 10px;
    padding: 20px;
}

.bouton {
    border-radius: 20px;
    background-color: #f6f6f6;
    box-shadow: 0px 4px 15px 0px #00000026;
    width: 85%;
    height: 72.38px;
    margin-top: 30px;
    margin-left: 32.51px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.bouton p {
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.chiffre {
    height: 20px;
    width: 20px;
    color: white;
    background-color: #9356DC;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    border-radius: 500px;
    padding: 5px 5px 5px 5px;
    margin-top: 25px;
    margin-left: -10px;
    border: none;
    text-align: center;
}

.icon {

    color: #7E7E7E;
    margin-top: 25px;
    height: 18px;
    position: relative;
}

.icon2 {
    color: #9356DC;
    margin-top: 25px;
    height: 18px;
    position: relative;

}