.header-icon {
    position: absolute;
    left: 25px;
    top: 13px;
    font-size: 30px;
    z-index: 3;
}

.resto {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resto-img {
    position: relative;
    width: 100%;
    height: 275px;
    object-fit: cover;
    align-self: stretch;
}

.resto-article {
    width: 100%;
    background-color: var(--main-bg-color);
    position: relative;
    margin-top: -25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resto-titre {
    width: 70%;
    align-self: flex-start;
    font-family: "Shrikhand", sans-serif;
    font-size: 28px;
    font-weight: 400;
    padding-top: 32px;
    padding-left: 17px;
}

.resto-icon {
    padding: 2px;
    position: absolute;
    right: 42px;
    top: 39px;
    font-size: 28px;
    z-index: 1;
    overflow: clip;
    opacity: 1;
    font-size: 22px;
    -webkit-text-stroke: 2px var(--bg-color-dark-grey);
    background: white;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.resto-icon:hover {
    font-size: 22px;
    animation: filling-heart 1.3s forwards;
}

@keyframes filling-heart {
    0% {
        transform: scale(0.9);
        -webkit-text-stroke: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }

    50% {
        transform: scale(1.4);
        background: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);
        opacity: 0.5;
        -webkit-text-stroke: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }

    100% {
        transform: scale(1);
        background: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);
        opacity: 1;
        -webkit-text-stroke: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }
}

.menu {
    width: 100%;
}

.menu-titre {
    margin-top: 40px;
    width: 38px;
    height: 27px;
    font-size: 16px;
    font-weight: 300;
    margin-left: 17px;
    border-bottom: var(--bg-color-green) 2px solid;
    border-bottom-width: 3px;
}

.menu-content {
    padding: 0 10px;

}


.card {
    display: flex;
    flex-direction: row;
    height: 70px;
    position: relative;
    margin-top: 12px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
    transform: translateX(15px);
    animation: appearance-card 3s;
    animation-fill-mode: both;



}

.child1 {
    animation-delay: 200ms;
}

.child2 {
    animation-delay: 400ms;
}

.child3 {
    animation-delay: 600ms;
}

.child4 {
    animation-delay: 800ms;
}

.child5 {
    animation-delay: 1000ms;
}

.child6 {
    animation-delay: 1200ms;
}

.child7 {
    animation-delay: 1400ms;
}

.child8 {
    animation-delay: 1600ms;
}

.child9 {
    animation-delay: 1800ms;
}

.child10{
    animation-delay: 700ms;
}


/*appearance-card 3s forwards;*/
.card:hover .card-click {
    width: 30px;
    padding: 15px;
}

@keyframes appearance-card {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }

}


.card-menu {
    width: 20%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    flex-grow: 1;
}

.card-plat {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.card-description {
    width: 80%;
    font-size: 15px;
    font-weight: 300;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.card-prix {
    margin-right: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: flex-end;
    font-size: 15px;
    font-weight: 700;
    right: 30px;
    bottom: 18px;
}

.card-click {
    width: 0;
    border-radius: 0 15px 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    background-color: var(--bg-color-green);

}

:hover .card-click {
    transition: all 0.7s ease-in-out;
    cursor: pointer;
}

:hover.card-click i {
    animation: check 1s;
}

.checkicon {
    color: white;
    opacity: 1;
    font-size: 25px;

}


@keyframes check {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}




/*footer*/

.footer {
    position: relative;
}

/*media tablette*/
@media screen and (min-width:768px) {
    .menu {
        width: 90%;

    }
}

/* media ordinateur*/
@media screen and (min-width: 1024px) {
    .header-icon {
        top: 30px;
    }

    .resto-img {
        height: 383px;
    }

    .resto-titre {
        width: auto;
        align-self: center;
    }

    .resto-article {
        max-width: 1025px;
        width: 100%;
    }

    .resto-icon {
        position: absolute;
        right: 326px;
        top: 39px;
    }

    .resto .card {
        width: 97%;
    }

    .menu {
        width: 80%;
    }
}