
.section-restaurants {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #f6f6f6;
    padding-bottom: 66px;
}

.restaurant-titre {
    display: flex;
    align-self: flex-start;
    font-size: 24px;
    font-weight: 700;
    margin-left: 30px;
    margin-top: 54px;
    margin-bottom: 26px;
}

.restaurants-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    width: 100%;

}

.restaurant-card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 600px;
    border-radius: 15px;
    background-color: white;
    height: 251px;

}

.card {

    text-decoration: none;
    color: black;
}

.nouveau {
    position: absolute;
    right: 15px;
    top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 29px;
    font-size: 14px;
    font-weight: 500;
    background-color: #99e2d0;
    color: #008766;

}

.restaurant-img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

.card-title {

    display: flex;
    justify-content: flex-start;
    font-size: 18px;
    font-weight: 700;
    padding-left: 13px;
}

.card-subtitle {

    font-size: 17px;
    font-weight: 300;
    margin-bottom: 12px;
    padding-left: 13px;
    margin-top: -10px;
}

.coeur {
    padding: 2px;
    position: absolute;
    font-size: 28px;
    right: 30px;
    bottom: 34px;
    z-index: 1;
    overflow: clip;
    transition: all 0.5s;
    opacity: 1;
    font-size: 22px;
    -webkit-text-stroke: 2px#353535;
    background: white;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    cursor: pointer;

}

.coeur :hover {
    background-color: #9356DC;

}
